/* Courses page */

section.page--courses
	padding-left: 0
	padding-right: 0
	padding-bottom: 0
	.page-content
		padding-bottom: 0
	.page-hero
		background-image: url('./img/course-hero.jpg')
		h3
			max-width: 493px
			margin-left: auto
			margin-right: auto

section.all-courses
	.bg-box
		h3
			color: #fff
		div.btn-wrap
			margin-bottom: 0.5em
			&:last-child
				margin-bottom: 0
		&.half
			min-width: 49%
	.box-wrap
		display: flex
		justify-content: space-between

@media screen and (max-width: 1000px)
	section.all-courses
		.box-wrap
			flex-direction: column
			.bg-box:last-child
				margin-bottom: 0
