@font-face
	font-family: "Noto Sans Thai UI"
	src: url('notosansthaiui-semibold.woff') format('woff')
	font-weight: 600
	font-style: normal
@font-face
	font-family: "Noto Sans Thai UI"
	src: url('notosansthaiui-regular.woff') format('woff')
	font-weight: 400
	font-style: normal
