footer
	background-color: $color-main-dark
	color: #fff
	font-family: $font-main
	padding: 3em
	h5, a
		color: #fff
	a.text-link
		text-decoration: none
		&:before
			content: '> '
		&:not(:first-child)
			margin-left: 0.4em
	p
		font-size: 0.8em
		line-height: 1.2em
		margin-bottom: 0.8em
	.social-wrap
		margin-bottom: 0.8em
		img
			width: 24px
			&:hover
				opacity: 0.5
		a
			margin-right: 1em
			display: inline-block
			&:last-child
				margin-right: 0
